@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply text-primary-500 font-display;
  }
  
  a {
    @apply text-secondary-300 hover:text-primary-500 transition-colors;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary-600 text-white px-6 py-3 rounded-md text-lg font-semibold hover:bg-primary-700 transition-all duration-300 transform hover:-translate-y-1 hover:shadow-lg;
  }
}